@import "tailwindcss";

@theme {
  /* Warna khusus undangan */
  --color-wedding-bg: #FFFFFF;
  --color-wedding-dark: #2D2D2D;
  --color-wedding-accent: #E65100;

  /* Font Serif untuk nama mempelai (Opsional) */
  --font-serif: "Playfair Display", serif;
}

:root {
  --background: var(--color-wedding-bg);
  --foreground: var(--color-wedding-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; /* Default, nanti bisa kita ganti ke font lebih mewah */
}